#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mosquitto"
name = "Mosquitto"
description.en = "Interconnect your objects and applications with an MQTT broker"
description.fr = "Interconnecter vos objets et vos applications grâce à un serveur MQTT"

version = "2.1.0~ynh1"

maintainers = [ "Grena" ]

[upstream]
license = "MIT"
website = "https://mosquitto.org"
demo = "https://test.mosquitto.org"
admindoc = "https://mosquitto.org/documentation/"
code = "https://github.com/eclipse/mosquitto"
cpe = "cpe:2.3:a:eclipse:mosquitto"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "10M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mosquitto"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.username]
    ask.en = "Set the username for client authentication"
    ask.fr = "Définissez le nom d'utilisateur pour l'authentification du client"
    type = "string"
    example = "mosquitto"
    default = "mosquitto"

    [install.userpass]
    ask.en = "Set the password for client authentication"
    ask.fr = "Définissez le mot de passe pour l'authentification du client"
    type = "password"

[resources]

    #This isn’t used actually. It’s only to trigger an update at each new tag
    [resources.sources.main]
    url = "https://github.com/eclipse/mosquitto/archive/refs/tags/v2.1.0.tar.gz"
    sha256 = "8178a12c2c3fd9deeeb72c8e3f54c5fefacb5a93bef06ff8f9a3b5b71bcaa4a2"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.show_tile = false
    main.auth_header = false

    [resources.ports]
    main.default = 1883
    main.exposed = "TCP"
    ssl.default = 8883
    websockets.default = 8884

    [resources.apt]
    packages = "mosquitto"

    [resources.apt.extras.mosquitto]
    repo = "deb https://repo.mosquitto.org/debian __YNH_DEBIAN_VERSION__ main"
    key = "https://repo.mosquitto.org/debian/mosquitto-repo.gpg"
    packages = ["mosquitto", "mosquitto-clients"]
