#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.username = "mosquitto"
    args.userpass = "mosquitto"

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.c884a23f185365193bbf75861ea32a3a926536e2.name = "Upgrade from 2.0.22~ynh2"
